{% extends "header.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
   <title>Registro de Solicitud de Viaje</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
   <script src="{{ url_for('static', filename='javascript/register_travel.js') }}"></script>
</head>

<body>
   <section class="get-in-touch">
      <h1 class="title">Registro de Solicitud de Viaje</h1>
      <form id="travelRequestForm" class="contact-form row">
         <div class="form-field col x-100">
            <input id="nombre" class="input-text js-input" type="text" required>
            <label class="label" for="nombre">Nombre completo</label>
         </div>
         <div class="form-field col x-100">
            <input id="puesto" class="input-text js-input" type="text" required>
            <label class="label" for="puesto">Puesto</label>
         </div>
         <div class="form-field col x-100">
            <input id="departamento" class="input-text js-input" type="text" required>
            <label class="label" for="departamento">Departamento</label>
         </div>
         <div class="form-field col x-100">
            <select id="tipo_viaje" class="input-text js-input">
               <option value="nacional">Nacional</option>
               <option value="internacional">Internacional</option>
            </select>
            <label class="label" for="tipo_viaje">Tipo de Viaje</label>
         </div>
         <div class="form-field col x-100">
            <input id="pais_destino" class="input-text js-input" type="text" required>
            <label class="label" for="pais_destino">País de destino</label>
         </div>
         <div class="form-field col x-100">
            <input id="motivo" class="input-text js-input" type="text" required>
            <label class="label" for="motivo">Motivo del viaje</label>
         </div>
         <div class="form-field col x-50">
            <input id="fecha_inicio" class="input-text js-input" type="date" required>
            <label class="label" for="fecha_inicio">Fecha de inicio</label>
         </div>
         <div class="form-field col x-50">
            <input id="fecha_fin" class="input-text js-input" type="date" required>
            <label class="label" for="fecha_fin">Fecha de finalización</label>
         </div>
         <div class="form-field col x-100">
            <input id="aerolinea" class="input-text js-input" type="text" required>
            <label class="label" for="aerolinea">Aerolínea</label>
         </div>
         <div class="form-field col x-100">
            <input id="precio_boletos" class="input-text js-input" type="number" required>
            <label class="label" for="precio_boletos">Precio de boletos</label>
         </div>
         <div class="form-field col x-100">
            <input id="alojamiento" class="input-text js-input" type="text" required>
            <label class="label" for="alojamiento">Alojamiento</label>
         </div>
         <div class="form-field col x-100">
            <select id="requiere_transporte" class="input-text js-input">
               <option value="si">Sí</option>
               <option value="no">No</option>
            </select>
            <label class="label" for="requiere_transporte">¿Requiere transporte?</label>
         </div>
         <div class="form-field col x-100 align-center">
            <label id="add-btn" class="submit-btn">REGISTRAR</label>
         </div>
      </form>
   </section>

</body>

</html>

{% endblock %}
