{% extends "header.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
   <title>Consultar viajes programados</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
   <script src="{{ url_for('static', filename='javascript/scheduled_travels.js') }}"></script>
</head>
<body>
   <section class="get-in-touch">
      <h1 class="title">Consultar viajes programados</h1>
      <form id="ScheduledTravelsForm" class="contact-form row">
        <row>
            <div class="form-field col x-50">
                <label for="mes">Mes</label>
                <select id="mes" class="input-text js-input" required>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
            </div>
            <div class="form-field col x-50">
                <label for="ano">Año</label>
                <input id="ano" class="input-text js-input" type="number" min="1900" max="2200" required>
            </div>        
        </row>   
        <div class="form-field col x-100 align-center">
           <label id="find-btn" class="submit-btn">Buscar</label>
        </div>
     </form>
   </section>
   <div id="form-container"></div>
</body>
</html>
{% endblock %}
