{% extends "header.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
   <title>Consultar por destino específico</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
   <script src="{{ url_for('static', filename='javascript/specific_destination.js') }}"></script>
</head>
<body>
   <section class="get-in-touch">
      <h1 class="title">Consultar por destino específico</h1>
      <form id="SpecificDestinationForm" class="contact-form row">
        <div class="form-field col x-50">
            <label for="destino">País de destino</label>
            <input id="destino" class="input-text js-input" type="text" required></input>
        </div>   
        <div class="form-field col x-100 align-center">
           <label id="find-btn" class="submit-btn">Buscar</label>
        </div>
     </form>
   </section>
   <div id="form-container"></div>
</body>
</html>
{% endblock %}
